
#display-quote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#display-quote h4 {
  color: #fff;
  font-family: cursive;
}

#display-quote p {
  color: #004;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 1.5%;
}

#display-quote #author {
  color: #463535;
}
